<% provide(:title, 'Update User Info') %>



<main role="main" class="container">
<div class="container col-lg-12"><!--Container Start-->
<div class="row">

<div class="col-lg-12">
    <div class="container jumbotron">

        <div class="row">
            <div class="form content col-lg-12 col" >
            
            <h1 class="text-center"> 
            <i class="far fa-user-circle fa-4x"> </i><br><br>Edit User info</h1>
                <div class="container">
                    <%= render 'shared/error_messages' %>
                    <%= render 'form' %>
                    
                </div>
            </div>
        </div>
        
    </div>

</div> 


</div>

</div> <!--Container End--> 
</main>