<% provide(:title, 'Signup') %>



<main role="main" class="container">
<div class="container col-lg-12"><!--Container Start-->
<div class="row">

<div class="col-lg-12">
    <div class="container jumbotron">
<style>
 .box{
        margin-top: -50px;
        margin-bottom: -110px;
        width: 600px;
        height: 320px;
        background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4252f013-3acb-46e7-beb8-ebe01d64e82d/dbnab4d-b6788fd3-8e95-4ae7-b2fa-dabbcc21895a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNDI1MmYwMTMtM2FjYi00NmU3LWJlYjgtZWJlMDFkNjRlODJkXC9kYm5hYjRkLWI2Nzg4ZmQzLThlOTUtNGFlNy1iMmZhLWRhYmJjYzIxODk1YS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.MBRMKXlV75zPMnJhtRfumNdt4hq-mLOzHFButvKRj54");
        background-size: cover;
        background-position: center ;
    }
</style>
    <div class="row">
            <div class="col col-lg-12 box">
                
            </div>
        </div>

        <div class="row">
            <div class="form content col-lg-12 col" style="padding-top: 130px">
            
            <h1 class="text-center">Sign up</h1>
                <div class="container">
                    <%= render 'shared/error_messages' %>
                    <%= render 'form' %>
                    
                </div>
            </div>
        </div>
        
    </div>

</div> 


</div>

</div> <!--Container End--> 
</main>