<% provide(:title, 'Contact Us') %>

<main role="main" class="container">
<div class="container col-lg-12"><!--Container Start-->

    <div class="jumbotron welcome"> <!--Jumbotron Start-->
    <div class="container">
      <h1 class="display-3">Contact us</h1>
      <p>
        </br> This is the contact page with all information</br></br>
        Twitter: <a href= "https://twitter.com/" > https://twitter.com/ </a></br>
    
        LinkedIn: <a href="https://www.linkedin.com/"> https://www.linkedin.com/</a></br>

        Facebook: <a href="https://www.facebook.com/"> https://www.facebook.com/</a> </p>
    </div>
  </div><!--Jumbotron End-->

</div> <!--Container End--> 
</main>
