// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box{
    margin-top: -50px;
    margin-bottom: -110px;
    width: 600px;
    height: 700px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4252f013-3acb-46e7-beb8-ebe01d64e82d/dbnab4d-b6788fd3-8e95-4ae7-b2fa-dabbcc21895a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNDI1MmYwMTMtM2FjYi00NmU3LWJlYjgtZWJlMDFkNjRlODJkXC9kYm5hYjRkLWI2Nzg4ZmQzLThlOTUtNGFlNy1iMmZhLWRhYmJjYzIxODk1YS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.MBRMKXlV75zPMnJhtRfumNdt4hq-mLOzHFButvKRj54");
    background-size: cover;
}